.cartitems{
    margin: 100px 170px;
}

.cartitems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}
.cartitems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}
.cartitems-format{
    font-size: 17px;
    font-weight: 500;
}
.carticon-product-icon{
    height: 62px;
}
.cartitems-remove-icon{
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}
.cartitems-quantity{
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: #fff;
}
.cartitems-down{
    display: flex;
    margin: 100px 0px;
}
.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    gap: 40px;
}
.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.cartitems-total button{
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background:#0CC0DF;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 75px;
}
.cartitems-total button:hover {
    background-color: white; 
    color: black;
    border:1px solid #0CC0DF ;
  }
.cartitems-promocode{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}
.cartitems-promocode p{
    color: #454545;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
  }
  .container {
    display: flex;
    align-items: center; /* This will vertically center align the items */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: #0CC0DF;
    color: white;
    text-align: center;
    border-radius: 75px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width to center the tooltip */
  }
  
  /* Show the tooltip text on hover */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .edit-button{
    margin-left: 10px;
    width: 40px;
    height: 35px;
    outline: none;
    border: 1px solid #7a7a7a;
    background:white;
    color: black;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 15px;
  }

  .edit-button:hover{
    background-color: white; 
    color: black;
    border:1px solid #0CC0DF ;
  }
  

@media (max-width:1280px) {
    .cartitems{
        margin: 60px 50px;
    }
    .cartitems-format{
        grid-template-columns: 0.3fr 0.96fr 0.5fr 0.5fr 0.3fr 0.5fr;
        gap: 40px;
        padding: 15px 0px;
        font-size: 15px;
    }
    .carticon-product-icon{
        height: 70px;
    }
    .cartitems-remove-icon{
        margin: auto;
    }
    .cartitems-quantity{
        width: 40px;
        height: 30px;
    }
    .cartitems-down{
        margin: 80px 0px;
        flex-direction: column;
        gap: 80px;
    }
    .carticon-total{
        margin: 0;
    }
    .cartitems-total button{
        max-width: 200px;
        height: 45px;
        font-size: 13px;
    }
    .cartitems-promocode{
        width: auto;
        max-width: 500px;
    }
    .cartsitems-promobox{
        width: 91%;
    }
    .cartsitems-promobox button{
        width: 26.5%;
    }
}
@media (max-width:1024px) {
    .cartitems-format-main{
        font-size: 15px;
        gap: 20px;
        grid-template-columns: 0.5fr 1fr 0.5fr 0.6fr 0.5fr 0.4fr;
    }
}
@media (max-width:621px) {
    .cartsitems-promobox{
        width: 80%;
    }
    .cartsitems-promobox button{
        margin-top: 20px;
        height: 45px;
        margin-left: -20px;
        width: max-content;
    }
}
@media (max-width:580px) {
    .cartitems-format-main{
        display: none;
        grid-template-columns: 0.5fr 3fr 0.5fr;
        gap: 10px;
    }
    .cartitems-format{
        display: grid;
    }
}