  .custom-toast {
    position: absolute;
    background-color: #9cdea0 !important; /* Green background */
    color: #20091e !important; /* White text */
    font-size: 16px !important; /* Custom font size */
    padding: 15px !important; /* Custom padding */
    border-radius: 8px !important; /* Rounded corners */
  }
  
  .custom-toast-icon {
    margin-right: 10px;
    font-size: 20px;
    color: black;
  }
  
.loginsignup{
    align-content: center;
    min-width: 103.5%;
    height: 85vh;
    background: #fce3fe;
    margin-bottom: 50px;
}

.loginsignup-container{
    border-radius: 25px;
    width: 600px;
    height: fit-content;
    background: white;
    margin: auto;
    padding: 40px 70px;
}
.loginsignup-container h1{
    margin-top: 20px 0px;
}
.password-field {
    position: relative;
}
.eye-icon {
    align-items: center;
    position: absolute;
    right: 0px; /* Adjust this value as needed */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: black; 
    font-size: 20px;
}
  
.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    margin-right: 10px;
}
.loginsignup-fields p{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: -17px;
}
.loginsignup-fields input{
    border-radius: 25px;
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #4f4949;
    font-size: 18px;
    font-family: 'Poppins';
}
.loginsignup-fields input::placeholder {
color: rgb(220, 220, 220);  }
  
.loginsignup-container button{
    width: 610px;
    height: 72px;
    color: white;
    background: #0CC0DF;
    margin-top: 30px;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    border-radius: 25px;
}

.loginsignup-login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.loginsignup-login span{
    color: #0CC0DF;
    font-weight: 600;
}
.login-signup-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
.login-signup-agree input{
    cursor: pointer;
}
@media (max-width:1280px) {
    .loginsignup{
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .loginsignup-container{
        width: auto;
        max-width: 500px;
        max-height: 600px;
    }
    .loginsignup-container h1{
        margin: 12px 0px;
    }
    .loginsignup-fields{
        gap: 20px;
        margin-top: 20px;
    }
    .loginsignup-fields input{
        height: 65px;
        width: 93%;
    }
    .loginsignup-container button{
        width: 98%;
    }
    .loginsignup-login{
        font-size: 16px;
    }
    .login-signup-agree{
        font-size: 16px;
        gap: 10px;
        margin-bottom: 20px;
    }
}
@media (max-width:800px) {
    .loginsignup-container{
        padding: 20px 30px;
    }
    .loginsignup-container h1{
        font-size: 24px;
    }
    .loginsignup-fields{
        margin-top: 20px;
    }
    .loginsignup-fields input{
        height: 50px;
    }
    .loginsignup-container button{
        height: 50px;
        font-size: 16px;
    }
}
@media (max-width:884px) and (min-width:884px) {
    .loginsignup{
        min-width: 859px;
    }
    .loginsignup-container{
        margin-top: -100px;
        transform: scale(0.78);
    }
}

@media (max-width:834px) and (min-width:834px) {
    .loginsignup{
        min-width: 812px;
    }
    .loginsignup-container{
        margin-top: -100px;
        transform: scale(0.78);
    }
}
@media (max-width:800px) {
    .loginsignup-container{
        margin-top: -100px;
        transform: scale(0.78);
    }
}

@media (max-width: 320px) {
    .loginsignup {
        height: auto; 
        padding-bottom: 50px; 
    }
    
    .loginsignup-container {
        width: 94%;
        padding: 20px;
        margin: 0 auto;
        box-sizing: border-box;
    }
    
    .loginsignup-fields input {
        height: 40px;
    }
    
    .loginsignup-container button {
        height: 50px;
        font-size: 14px;
        width: 100%;
    }
}

