.content {
  margin-top: 80px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.title {
  font-weight: bold;
  color: #e7e7e7;
}

.symbol {
  -webkit-text-stroke: 13px #212121;
  font-size: 150px;
  color: #ff2c3c;
}

.email{
 
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
  }

.text {
  margin-top: 15px;
  font-size: 25px;
  color: #e7e7e7;
  text-align: center;
  font-family: 'avenir';
  font-weight: lighter;
}

.wrapper {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 1.2s cubic-bezier(0.65, 0, 0.45, 1) forwards
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill 1.2s ease-in-out 1.2s forwards, scale 1.2s ease-in-out 1.2s both
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 1.2s forwards
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0
  }
}

@keyframes scale {

  0%,
  100% {
    transform: none
  }

  50% {
    transform: scale3d(1.1, 1.1, 1)
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142
  }
}

body {
  >div {
    margin: 10px;
  }

  .screen {
    opacity: 0.25;
    animation: slide 4s linear infinite;
  }

  .star {
    animation: bounce 4s linear infinite;
  }

  .shaddow {
    transform-origin: center center;
    animation: bounceShaddow 4s linear infinite;
  }
}

@keyframes slide {
  from {
    transform: translatex(-10%);
  }

  to {
    transform: translatex(100%);
  }
}

@keyframes bounce {

  0%,
  40%,
  50%,
  60%,
  100% {
    transform: translatey(0%);
  }

  45%,
  55% {
    transform: translatey(-10%);
  }
}

@keyframes bounceShaddow {

  0%,
  40%,
  50%,
  60%,
  100% {
    opacity: 100%;
    transform: scale(1, 1);
  }

  45%,
  55% {
    opacity: 30%;
    transform: scale(0.8, 0.7) translatey(10%);
  }
}

.button-sampingan {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  gap: 20px;
}

.copy {
  margin-bottom: 25px;
  font-size: 18px;
  height: 30px;
  width: 55px;
  margin-left: 10px;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
  border: 1px solid #0CC0DF;
  background-color: #fff;
  font-family: 'avenir';
}

.copy:hover {
  background-color: #ddd;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 250px;
  height: 50px;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  margin-top: 30px;
  background: white;
  color: black;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 300px;
}

.shopping-again {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 250px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 75px;
  margin-top: 30px;
  background: #0CC0DF;
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 300px;
  transition: all ease-in-out 0.1s;
}

.back:hover {
  background-color: #ff80ac;
  color: white;
  border: none;
}

.shopping-again:hover {
  background-color: #ff80ac;
  color: white;
  font-weight: 600;
  font-size: 19px;
}

@media only screen and (max-width: 800px) {

  .back,
  .shopping-again {
    width: 150px;
    height: 8vm;
  }
}

@media only screen and (max-width: 330px) {
  .content {
    justify-content: center;
    max-width: 300px;
  }
  .content p{
    margin-top: 15px;
  }
  
  .success{
    font-size: 22px;
  }

  .copy {
    font-size: 14px;
    width: 50px;
  }

  .email{
  font-size: 18px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
  }

  .back,
  .shopping-again {
    width: 140px;
    height: 10vw;
    font-size: 16px;
    margin-bottom: 70px;
  }
}

@media only screen and (max-width: 500px) {
  .content {
    margin-top: 30px;
    justify-content: center;
    max-width: 100%;
  }
  .content p{
    margin-top: 18px;
  }
  
  .success{
    font-size: 24px;
  }

  .copy {
    font-size: 15px;
    width: 50px;
  }

  .email{
  font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
  }

  .back,
  .shopping-again {
    width: 140px;
    height: 10vw;
    font-size: 16px;
    margin-bottom: 70px;
  }

  .shopping-again:hover {
    font-size: 16px !important;
  }
}