.add-address{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 16px;
    padding: 20px;
    margin: 20px;
    gap: 10px;
}
.add-address-fields textarea{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 5px;
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    border-radius: 6px;
    border: 1px solid #c3c3c3;
    background: white;
    font-family: 'Poppins';
}
.add-address-two-fields{
    display: flex;
    gap: 30px;
}
.add-address-sub-item input, select{
    margin-top: 8px;
    box-sizing: border-box;
    height: 50px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #c3c3c3;
    outline: none;
    font-family: 'Poppins';
    font-size: 14px;
    width: 317.5px;
}

.phone-number-container {
    display: flex;
    flex-direction: column;
    align-content: flex-start; 
    width: 317.5px;
    margin-right: 350px;  
    margin-top: 20px;
  }
  
  .phone-number-container input {
    margin-top: 5px;
    box-sizing: border-box;
    height: 50px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #c3c3c3;
    outline: none;
    font-family: 'Poppins';
    font-size: 14px;
    width: 100%; /* Full width within the container */
  }
.button-sampingan{
    display: flex;
    justify-content: space-between;
    margin: 15px;
    gap: 20px;
  }
  
  .cancel{
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 250px;
    height: 50px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    margin-top: 30px;
    background: white;
    color: black;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 300px;
  }
  
  .submit{
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 250px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 75px;
    margin-top: 30px;
    background: #0CC0DF;
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 300px;
  }
  
  .cancel:hover {
    background-color: #c3c3c3; 
    color: white;
    border: none;
  }
  .submit:hover {
    background-color: #08b3d2; 
    color: white;
  }
  